<div class="labeled-tags-container">
  {% for labeled_tag in page.signup.labeled_tags %}
    <div class="">
      {% if page.signup.use_multiple_select_labeled_tags? %}
        <div class="form-check">
          <input type="checkbox" name="signup[labeled_tags][]" class="form-check-input" id="checkbox_{{ labeled_tag.id }}" value="{{ labeled_tag.id }}" {{ labeled_tag.checked }} >
          <label class="form-check-label" for="checkbox_{{ labeled_tag.id }}">{{ labeled_tag.name }}</label>
        </div>
      {% else %}
        <div class="form-check">
          <input type="radio" name="signup[labeled_tags][]" class="form-check-input" id="checkbox_{{ labeled_tag.id }}" value="{{ labeled_tag.id }}" {{ labeled_tag.checked }} >
          <label class="form-check-label" for="checkbox_{{ labeled_tag.id }}">{{ labeled_tag.name }}</label>
        </div>
      {% endif %}
    </div>
  {% endfor %}
</div>
